<footer class="app-footer">
  <div class="footer-contact">
    <div class="contact-title">
      <h2>Entrar em contato</h2>
    </div>
    <div class="contact-btn">
      <button><a href="https://wa.me/qr/GKXITYMQ4FPUH1" target="_blank">Contato</a></button>
    </div>
  </div>
  <hr>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/assets/img/Logo.svg"/>
      <p>Obrigado por visitar meu portfólio! Fico feliz em compartilhar meu trabalho com você. Se estiver interessado em colaborar ou quiser saber mais, fique à vontade para entrar em contato.</p>
      <div class="social">
        <span><a href="#"><i class="bi bi-github"></i></a></span>
        <span><a href="#"><i class="bi bi-whatsapp"></i></a></span>
      </div>
    </div>
    <div class="footer-nav">
      <h2>Menu</h2>
      <ul class="menu-footer">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Projetos</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="footer-copyright">
    <p>© 2025 Luan Qualharei Segura. Todos os direitos reservados.</p>
  </div>
</footer>
