.app-footer {
  display: flex;
  flex-direction: column;
  background-color: #111; // Fundo escuro
  color: #fff;

  .footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;

    button {
      display: flex;
      width: 202px;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 60px;
      background: #D92D20;
      border: none;
    }

    a {
      color: #FFFFFF;
      text-decoration: none;
      font-weight: 600;
    }
  }

  hr {
    width: 100%;
    margin: 10px auto;
    border: 1px solid #333;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    flex-wrap: wrap;
  }

  .footer-logo {
    max-width: 350px;

    img {
      max-width: 100%;
    }

    p {
      font-size: 16px;
      color: #ccc;
      margin-top: 10px;
    }

    .social {
      display: flex;
      gap: 15px;
      margin-top: 10px;

      span a {
        font-size: 22px;
        color: #bbb;
        transition: color 0.3s;

        &:hover {
          color: #D92D20;
        }
      }
    }
  }

  .footer-nav {
    text-align: center;

    h2 {
      font-size: 20px;
      color: #D92D20;
      margin-bottom: 10px;
    }

    .menu-footer {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 8px;

        a {
          text-decoration: none;
          color: #bbb;
          font-size: 16px;
          transition: color 0.3s;

          &:hover {
            color: #ff4d4d;
          }
        }
      }
    }
  }

  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #999;
    padding: 20px;
  }
}

// Responsividade
@media screen and (max-width: 1024px) {
  .footer-container {
    padding: 30px 5%;
  }
}

@media screen and (max-width: 768px) {
  .footer-contact {
    flex-direction: column;
    gap: 10px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  .footer-logo {
    max-width: 500px;
  }

  .social {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .footer-copyright {
    font-size: 12px;
    padding: 10px;
  }
}
