<header class="app-header">
  <nav id="navbar">

      <ul class="menu">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sobre</a></li>
          <span class="logo"><img src="/assets/img/Logo.svg"/></span>
          <li><a href="#">Projetos</a></li>
          <li><a href="https://wa.me/qr/GKXITYMQ4FPUH1" target="_blank">Contato</a></li>
      </ul>

      <div class="abrir-menu" id="btn-menu">
        <i class="bi bi-list abrir-icon"></i>
    </div>

    <span class="logo-mobile"><img src="/assets/img/Logo.svg"/></span>

    <div class="menu-mobile" id="menu-mobile">
        <div class="btn-fechar">
                <i class="bi bi-x fechar-icon"></i>
        </div>



        <div class="div-ul">
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Projetos</a></li>
              <li><a href="https://wa.me/qr/GKXITYMQ4FPUH1" target="_blank">Contato</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay-menu" id="overlay-menu"></div>
  </nav>
</header>
