.app-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;

  #navbar {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que fique acima dos outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 0;
    transition: background 0.3s ease-in-out;
  }

  .logo img {
    height: 80px;
  }

  /* Menu */
  .menu {
      list-style: none;
      display: flex;
      gap: 75px;
      justify-content: space-between;
      align-items: center;
  }

  .menu li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.3s ease-in-out;
  }

  .menu li a:hover {
      color: #D92D20;
  }
}
