<header class="app-header">
  <nav id="navbar">
      <ul class="menu">
          <li><a href="#">Inicio</a></li>
          <li><a (click)="scrollToAnchor('about')">Sobre</a></li>
          <span class="logo"><img src="/assets/img/Logo.svg"/></span>
          <li><a [routerLink]="['/projetos']">Projetos</a></li>
          <li><a href="https://wa.me/qr/GKXITYMQ4FPUH1" target="_blank">Contato</a></li>
      </ul>

     <div class="mobile-menu">
    <span class="logo-mobile"><img src="/assets/img/Logo.svg"/></span>

    <div class="abrir-menu" id="btn-menu" (click)="toggleMenu()">
      <i class="bi bi-list abrir-icon"></i>
    </div>

    <div class="menu-mobile" [class.abrir-menu]="isMenuOpen" id="menu-mobile">

        <div class="btn-fechar" (click)="toggleMenu()">
          <i class="bi bi-x fechar-icon"></i>
        </div>

        <div class="div-ul">
          <ul>
            <li><a href="#">Início</a></li>
            <li><a (click)="scrollToAnchor('about')">Sobre</a></li>
            <li><a [routerLink]="['/projetos']">Projetos</a></li>
            <li><a href="https://wa.me/qr/GKXITYMQ4FPUH1" target="_blank">Contato</a></li>
          </ul>
        </div>

    </div>

    <div class="overlay-menu" [class.abrir-menu]="isMenuOpen" id="overlay-menu" (click)="toggleMenu()"></div>
</div>
  </nav>
</header>
