<app-header></app-header>
<main>
  <section class="hero">
    <div class="primary-container">
        <div class="primary-text">
            <h3>Olá, visitante</h3>
            <h1>Meu nome é Luan</h1>
            <h2>Desenvolvedor de Software</h2>
        </div>
        <div class="button-hero">
          <button class="btn-contato"><a href="https://wa.me/qr/GKXITYMQ4FPUH1" target="_blank">Contato</a></button>
          <button class="btn-download"><a href="assets/pdf/Luan Qualhareli Segura - Curriculo.pdf" download="Luan Qualhareli Segura - Curriculo.pdf">Download CV</a></button>
        </div>
    </div>
</section>

<section class="about">
  <div class="primary-container">
    <div class="about-text">
      <h2>Sobre <span>mim</span>?</h2>
      <p>Sou estudante do 5º semestre de Sistemas de Informação, com grande interesse em desenvolvimento Full Stack, mas com foco em back-end. Tenho experiência em HTML, CSS, JavaScript e WordPress, além de conhecimentos intermediários em Java. Também possuo noções de Python, Angular e SQL, que estou aprimorando por meio de cursos e projetos pessoais.

        Já desenvolvi portfólios, landing pages e uma loja virtual, além de um sistema de reciclagem de óleo como projeto acadêmico. Embora ainda não tenha experiência fixa, realizei trabalhos como freelancer na criação de landing pages e e-commerce.

        Tenho habilidade com Figma para design e prototipagem, o que me permite criar interfaces intuitivas e responsivas. No entanto, meu principal objetivo é atuar no back-end, desenvolvendo soluções eficientes e escaláveis. Busco oportunidades para aplicar meus conhecimentos em projetos inovadores e continuar evoluindo na área de tecnologia.</p>
    </div>
    <div class="about-image">
      <img src="/assets/img/perfil-luan.png" alt="Luan">
    </div>
  </div>
</section>

<section class="languages">
  <div class="languages-i-now">
    <h2>Tecnologias <span>que Domino</span></h2>
    <div class="languages-list">
      <div class="container">
        <div class="left">
            <div class="tech"><img src="../../../assets/img/html.png"/> HTML5</div>
            <div class="tech"><img src="../../../assets/img/css.png"/> CSS</div>
            <div class="tech"><img src="../../../assets/img/js.png"/> JavaScript</div>
            <div class="tech"><img src="../../../assets/img/C.png"/> C</div>
        </div>

        <div class="timeline">
            <div class="circle"></div>
            <div class="line"></div>
            <div class="middle"></div>
            <div class="line"></div>
            <div class="circle"></div>
        </div>

        <div class="right">
            <div class="tech"><img src="../../../assets/img/angular.png"/> Angular</div>
            <div class="tech"><img src="../../../assets/img/java.png"/> Java</div>
            <div class="tech"><img src="../../../assets/img/python.png"/> Python</div>
            <div class="tech"><img src="../../../assets/img/Csharp.png"/> C#</div>
        </div>
    </div>
    </div>
  </div>

  <div class="languages-i-now-mobile">
    <h2>Tecnologias <span>que Domino</span></h2>
    <div class="languages-list-mobile">
      <div class="container-mobile">
        <div class="languages-mobile">
            <div class="tech"><img src="../../../assets/img/html.png"/> HTML5</div>
            <div class="tech"><img src="../../../assets/img/css.png"/> CSS</div>
            <div class="tech"><img src="../../../assets/img/js.png"/> JavaScript</div>
            <div class="tech"><img src="../../../assets/img/C.png"/> C</div>
            <div class="tech"><img src="../../../assets/img/angular.png"/> Angular</div>
            <div class="tech"><img src="../../../assets/img/java.png"/> Java</div>
            <div class="tech"><img src="../../../assets/img/python.png"/> Python</div>
            <div class="tech"><img src="../../../assets/img/Csharp.png"/> C#</div>
        </div>
    </div>
    </div>
  </div>
</section>

<section class="projects">
  <div class="projects-primary">
    <div class="decorative-image left"></div> <!-- Imagem no canto inferior esquerdo -->
    <div class="decorative-image right"></div> <!-- Imagem no canto superior direito -->

    <div class="primary-container">
      <h2>Meus <span>projetos</span></h2>
      <p>Confira alguns dos trabalhos que desenvolvi! </p>
    </div>

    <div class="box-container">
      <div class="carousel">

        <a [routerLink]="['/em-construcao']">
          <div class="card">
            <div class="title">Front-end</div>
            <hr />
            <img src="/assets/img/img-front.png" alt="Front-end" />
          </div>
        </a>

        <a [routerLink]="['/em-construcao']">
          <div class="card">
            <div class="title">Back-end</div>
            <hr />
            <img src="/assets/img/img-back.png" alt="Back-end" />
          </div>
        </a>

        <a [routerLink]="['/em-construcao']">
          <div class="card">
            <div class="title">Mobile</div>
            <hr />
            <img src="/assets/img/img-mobile.png" alt="Mobile" />
          </div>
        </a>

      </div>
    </div>

  </div>
</section>
<app-footer></app-footer>
</main>
