@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #000000;
  color: #fff;
}


html, body {
  overflow-x: hidden; /* Remove a rolagem horizontal */
  scroll-behavior: smooth; /* Suaviza o scroll */
}


a {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background: #000000; /* Torna o trilho invisível */
}

/* Personaliza o polegar do scrollbar (a barra de rolagem visível) */
::-webkit-scrollbar-thumb {
  background: #D92D20;
}

/* Define o tamanho do scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Largura do scrollbar vertical */
}

ul {
  list-style: none;
}

.animated-title {
      color: #FFF;
      font-size: 38px;
      font-weight: 500;

      /* Cria o degradê (a "onda") */
      background: linear-gradient(
        90deg,
        #FFF,
        #D92D20,
        #FFF,
        #D92D20,
        #FFF
      );

      /* Faz o fundo ser o dobro do tamanho do texto para a animação */
      background-size: 200% 100%;

      /* Prende o fundo ao texto e torna o texto transparente */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      /* Aplica a animação da "onda" de cor */
      animation: color-flow 4s linear infinite;

      @keyframes color-flow {
          0% {
            background-position: 100% 0;
          }
          100% {
            background-position: -100% 0;
          }
      }
}
